@charset "UTF-8";
/* Police Logo */
@font-face {
  font-family: "shrikhandregular";
  src: url("../police/shrikland/shrikhand-regular-webfont.eot");
  src: url("../police/shrikland/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../police/shrikland/shrikhand-regular-webfont.woff") format("woff"), url("../police/shrikland/shrikhand-regular-webfont.ttf") format("truetype"), url("../police/shrikland/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Police Texte */
@font-face {
  font-family: "roboto_condensedregular";
  src: url("../police/roboto/robotocondensed-regular-webfont.eot");
  src: url("../police/roboto/robotocondensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../police/roboto/robotocondensed-regular-webfont.woff") format("woff"), url("../police/roboto/robotocondensed-regular-webfont.ttf") format("truetype"), url("../police/roboto/robotocondensed-regular-webfont.svg#roboto_condensedregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: "shrikhandregular", serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-family: "roboto_condensedregular";
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-family: "roboto_condensedregular";
  font-size: 1.2rem;
  font-weight: 100;
  color: grey;
  margin: 0;
}

h4 {
  font-family: "roboto_condensedregular";
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
}

h5 {
  font-family: "roboto_condensedregular";
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
}

p {
  font-family: "roboto_condensedregular";
  font-size: 0.9rem;
  color: grey;
  margin: 0;
}

.resto__nouveau {
  font-family: "roboto_condensedregular";
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0;
}

.footer {
  font-family: "roboto_condensedregular";
  font-size: 0.9rem;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

/* Spinner */
/* Couverts */
@keyframes mouvements {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* Bouton coeur */
@keyframes coeur {
  0% {
    width: 0;
  }
  50% {
    width: 8px;
  }
  100% {
    width: 16px;
  }
}
/* Menu déroulant des Entrées, Plats, Déserts */
@keyframes visible {
  100% {
    opacity: 1;
    z-index: -1;
  }
}
/* validation des Entrées, Plats, Déserts */
@keyframes valider {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  animation: temps 0.5s;
  animation-delay: 3s;
  animation-fill-mode: both;
}
@keyframes temps {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.spinner__couverts .couverts__primaire {
  animation: 1s linear 3 mouvements;
  color: #9356DC;
  font-size: 30px;
  margin-right: 10px;
}
.spinner__couverts .couverts__secondaire {
  animation: 1s linear 3 mouvements;
  color: #FF79DA;
  font-size: 30px;
  margin-right: 10px;
}
.spinner__couverts .couverts__tertiaire {
  animation: 1s linear 3 mouvements;
  color: #99E2D0;
  font-size: 30px;
  margin-right: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  padding: 15px 0 10px 0;
}
.header__accueil {
  display: flex;
  align-items: center;
  color: black;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-self: center;
  object-fit: contain;
  height: 24px;
  width: 100%;
}

.lieu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  border-top: 3px solid #cfcfcf;
  padding: 10px 0 10px 0;
}

.fas.fa-map-marker-alt {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  padding: 25px 0 50px 0;
}
.explorer h2 {
  margin: 0 15% 5px 15%;
}
.explorer h3 {
  margin: 0 7% 20px 7%;
}
.explorer__restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  box-shadow: 5px 5px 5px #c6c6c6;
  color: white;
  border-radius: 20px;
  padding: 0.7rem 1.5rem;
}
.explorer__restaurants:hover {
  opacity: 0.6;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  margin: 25px 5% 15px 5%;
}
.fonctionnement h2 {
  padding-bottom: 5px;
}
.fonctionnement__liste ul {
  padding-left: 0;
}
.fonctionnement__liste ul .fonctionnement__detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 25px;
}
.fonctionnement__liste ul .fonctionnement__detail .fonctionnement__numero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: white;
  border-radius: 20px;
  height: 1.3rem;
  width: 1.3rem;
  position: relative;
  right: -0.7rem;
}
.fonctionnement__liste ul .fonctionnement__detail .fonctionnement__text {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  box-shadow: 5px 5px 5px #e7e7e7;
  border-radius: 20px;
  height: 4rem;
  width: 100%;
}
.fonctionnement__liste ul .fonctionnement__detail .fonctionnement__text i {
  margin-left: 2rem;
  color: #7e7e7e;
}
.fonctionnement__liste ul .fonctionnement__detail .fonctionnement__text h5 {
  margin-left: 1.5rem;
}
.fonctionnement__liste ul .fonctionnement__detail .fonctionnement__text:hover {
  background-color: #f5edff;
  box-shadow: 5px 5px 5px #e7e7e7;
}
.fonctionnement__liste ul .fonctionnement__detail .fonctionnement__text:hover i {
  color: #9356DC;
}

@media (min-width: 1000px) {
  .fonctionnement {
    margin: 25px auto 15px auto;
    max-width: 1400px;
  }
  .fonctionnement h2 {
    text-align: center;
  }
  .fonctionnement__liste ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5%;
  }
  .fonctionnement__liste ul .fonctionnement__detail {
    width: 33%;
  }
}
.restaurants {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  background-color: #f6f6f6;
}
.restaurants__titre {
  margin: 0 5% 20px 5%;
}
.restaurants__liste {
  margin: 0 5% 15px 5%;
}
.restaurants__liste .resto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px #e7e7e7;
  margin-bottom: 5%;
  height: 220px;
}
.restaurants__liste .resto__image {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 150px;
  width: 100%;
}
.restaurants__liste .resto__image .resto__photo {
  object-fit: cover;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.restaurants__liste .resto__image .resto__nouveau {
  background-color: #99E2D0;
  color: #1b6150;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  padding: 0.2rem 0.5rem;
}
.restaurants__liste .resto__descriptif {
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 15px;
  width: calc(90% - 25px);
}
.restaurants__liste .resto__note {
  display: flex;
  align-self: center;
  font-size: 1.3rem;
}
.restaurants__liste .resto__note:hover {
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
  animation: coeur 0.4s linear;
}
.restaurants__liste .resto__note:hover .note__plein {
  display: inline;
  mix-blend-mode: lighten;
  background-color: white;
}
.restaurants__liste .resto__note:hover .note__vide {
  display: none;
}
.restaurants__liste .resto__note .note__plein {
  display: none;
}

@media (min-width: 1000px) {
  .restaurants {
    margin: auto;
    max-width: 1400px;
  }
  .restaurants__titre {
    text-align: center;
  }
  .restaurants__liste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .restaurants__liste .resto {
    width: 23%;
  }
}
.bandeau {
  display: flex;
  flex-direction: column;
}
.bandeau__image img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.bandeau__titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f6f6f6;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;
  height: 100px;
  margin-top: -30px;
}
.bandeau__titre h1 {
  width: calc(90% - 60px);
  padding: 0 5%;
}
.bandeau__note {
  display: flex;
  align-self: center;
  font-size: 1.3rem;
}
.bandeau__note:hover {
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
  animation: coeur 0.4s linear;
}
.bandeau__note:hover .note__plein {
  display: inline;
  mix-blend-mode: lighten;
  background-color: #f6f6f6;
}
.bandeau__note:hover .note__vide {
  display: none;
}
.bandeau__note .note__plein {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 0 5% 0 5%;
}
.menu__entrees {
  padding-bottom: 20px;
}
.menu__entrees .menu__titre {
  padding-bottom: 1%;
  margin-bottom: 20px;
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  opacity: 0;
  animation: visible 0.5s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}
.menu__entrees .menu__descriptif-e1 {
  display: flex;
  background-color: white;
  box-shadow: 5px 5px 5px #e7e7e7;
  border-radius: 10px;
  white-space: nowrap;
  height: 60px;
  padding-left: 1rem;
  margin-bottom: 15px;
  opacity: 0;
  animation: visible 0.5s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}
.menu__entrees .menu__descriptif-e1 .menu__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  overflow: hidden;
}
.menu__entrees .menu__descriptif-e1 .menu__detail h4, .menu__entrees .menu__descriptif-e1 .menu__detail p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__entrees .menu__descriptif-e1 .menu__detail h4 {
  padding-bottom: 5px;
}
.menu__entrees .menu__descriptif-e1 .menu__prix {
  display: flex;
  align-items: end;
  padding: 0 15px 7px 5px;
}
.menu__entrees .menu__descriptif-e1 .menu__valider {
  display: none;
}
.menu__entrees .menu__descriptif-e1:hover .menu__valider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  height: 60px;
}
.menu__entrees .menu__descriptif-e1:hover .menu__valider i {
  animation: valider 0.4s ease-in-out;
}
.menu__entrees .menu__descriptif-e2 {
  display: flex;
  background-color: white;
  box-shadow: 5px 5px 5px #e7e7e7;
  border-radius: 10px;
  white-space: nowrap;
  height: 60px;
  padding-left: 1rem;
  margin-bottom: 15px;
  opacity: 0;
  animation: visible 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}
.menu__entrees .menu__descriptif-e2 .menu__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  overflow: hidden;
}
.menu__entrees .menu__descriptif-e2 .menu__detail h4, .menu__entrees .menu__descriptif-e2 .menu__detail p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__entrees .menu__descriptif-e2 .menu__detail h4 {
  padding-bottom: 5px;
}
.menu__entrees .menu__descriptif-e2 .menu__prix {
  display: flex;
  align-items: end;
  padding: 0 15px 7px 5px;
}
.menu__entrees .menu__descriptif-e2 .menu__valider {
  display: none;
}
.menu__entrees .menu__descriptif-e2:hover .menu__valider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  height: 60px;
}
.menu__entrees .menu__descriptif-e2:hover .menu__valider i {
  animation: valider 0.4s ease-in-out;
}
.menu__entrees .menu__descriptif-e3 {
  display: flex;
  background-color: white;
  box-shadow: 5px 5px 5px #e7e7e7;
  border-radius: 10px;
  white-space: nowrap;
  height: 60px;
  padding-left: 1rem;
  margin-bottom: 15px;
  opacity: 0;
  animation: visible 0.5s;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}
.menu__entrees .menu__descriptif-e3 .menu__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  overflow: hidden;
}
.menu__entrees .menu__descriptif-e3 .menu__detail h4, .menu__entrees .menu__descriptif-e3 .menu__detail p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__entrees .menu__descriptif-e3 .menu__detail h4 {
  padding-bottom: 5px;
}
.menu__entrees .menu__descriptif-e3 .menu__prix {
  display: flex;
  align-items: end;
  padding: 0 15px 7px 5px;
}
.menu__entrees .menu__descriptif-e3 .menu__valider {
  display: none;
}
.menu__entrees .menu__descriptif-e3:hover .menu__valider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  height: 60px;
}
.menu__entrees .menu__descriptif-e3:hover .menu__valider i {
  animation: valider 0.4s ease-in-out;
}
.menu__entrees .menu__descriptif-e4 {
  display: flex;
  background-color: white;
  box-shadow: 5px 5px 5px #e7e7e7;
  border-radius: 10px;
  white-space: nowrap;
  height: 60px;
  padding-left: 1rem;
  margin-bottom: 15px;
  opacity: 0;
  animation: visible 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
.menu__entrees .menu__descriptif-e4 .menu__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  overflow: hidden;
}
.menu__entrees .menu__descriptif-e4 .menu__detail h4, .menu__entrees .menu__descriptif-e4 .menu__detail p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__entrees .menu__descriptif-e4 .menu__detail h4 {
  padding-bottom: 5px;
}
.menu__entrees .menu__descriptif-e4 .menu__prix {
  display: flex;
  align-items: end;
  padding: 0 15px 7px 5px;
}
.menu__entrees .menu__descriptif-e4 .menu__valider {
  display: none;
}
.menu__entrees .menu__descriptif-e4:hover .menu__valider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  height: 60px;
}
.menu__entrees .menu__descriptif-e4:hover .menu__valider i {
  animation: valider 0.4s ease-in-out;
}
.menu__plats {
  padding-bottom: 20px;
}
.menu__plats .menu__titre {
  padding-bottom: 1%;
  margin-bottom: 20px;
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  opacity: 0;
  animation: visible 0.5s;
  animation-delay: 0.6s;
  animation-fill-mode: both;
}
.menu__plats .menu__descriptif-p1 {
  display: flex;
  background-color: white;
  box-shadow: 5px 5px 5px #e7e7e7;
  border-radius: 10px;
  white-space: nowrap;
  height: 60px;
  padding-left: 1rem;
  margin-bottom: 15px;
  opacity: 0;
  animation: visible 0.5s;
  animation-delay: 0.7s;
  animation-fill-mode: both;
}
.menu__plats .menu__descriptif-p1 .menu__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  overflow: hidden;
}
.menu__plats .menu__descriptif-p1 .menu__detail h4, .menu__plats .menu__descriptif-p1 .menu__detail p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__plats .menu__descriptif-p1 .menu__detail h4 {
  padding-bottom: 5px;
}
.menu__plats .menu__descriptif-p1 .menu__prix {
  display: flex;
  align-items: end;
  padding: 0 15px 7px 5px;
}
.menu__plats .menu__descriptif-p1 .menu__valider {
  display: none;
}
.menu__plats .menu__descriptif-p1:hover .menu__valider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  height: 60px;
}
.menu__plats .menu__descriptif-p1:hover .menu__valider i {
  animation: valider 0.4s ease-in-out;
}
.menu__plats .menu__descriptif-p2 {
  display: flex;
  background-color: white;
  box-shadow: 5px 5px 5px #e7e7e7;
  border-radius: 10px;
  white-space: nowrap;
  height: 60px;
  padding-left: 1rem;
  margin-bottom: 15px;
  opacity: 0;
  animation: visible 0.5s;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}
.menu__plats .menu__descriptif-p2 .menu__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  overflow: hidden;
}
.menu__plats .menu__descriptif-p2 .menu__detail h4, .menu__plats .menu__descriptif-p2 .menu__detail p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__plats .menu__descriptif-p2 .menu__detail h4 {
  padding-bottom: 5px;
}
.menu__plats .menu__descriptif-p2 .menu__prix {
  display: flex;
  align-items: end;
  padding: 0 15px 7px 5px;
}
.menu__plats .menu__descriptif-p2 .menu__valider {
  display: none;
}
.menu__plats .menu__descriptif-p2:hover .menu__valider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  height: 60px;
}
.menu__plats .menu__descriptif-p2:hover .menu__valider i {
  animation: valider 0.4s ease-in-out;
}
.menu__plats .menu__descriptif-p3 {
  display: flex;
  background-color: white;
  box-shadow: 5px 5px 5px #e7e7e7;
  border-radius: 10px;
  white-space: nowrap;
  height: 60px;
  padding-left: 1rem;
  margin-bottom: 15px;
  opacity: 0;
  animation: visible 0.5s;
  animation-delay: 0.9s;
  animation-fill-mode: both;
}
.menu__plats .menu__descriptif-p3 .menu__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  overflow: hidden;
}
.menu__plats .menu__descriptif-p3 .menu__detail h4, .menu__plats .menu__descriptif-p3 .menu__detail p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__plats .menu__descriptif-p3 .menu__detail h4 {
  padding-bottom: 5px;
}
.menu__plats .menu__descriptif-p3 .menu__prix {
  display: flex;
  align-items: end;
  padding: 0 15px 7px 5px;
}
.menu__plats .menu__descriptif-p3 .menu__valider {
  display: none;
}
.menu__plats .menu__descriptif-p3:hover .menu__valider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  height: 60px;
}
.menu__plats .menu__descriptif-p3:hover .menu__valider i {
  animation: valider 0.4s ease-in-out;
}
.menu__desserts {
  padding-bottom: 20px;
}
.menu__desserts .menu__titre {
  padding-bottom: 1%;
  margin-bottom: 20px;
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  opacity: 0;
  animation: visible 0.5s;
  animation-delay: 1s;
  animation-fill-mode: both;
}
.menu__desserts .menu__descriptif-d1 {
  display: flex;
  background-color: white;
  box-shadow: 5px 5px 5px #e7e7e7;
  border-radius: 10px;
  white-space: nowrap;
  height: 60px;
  padding-left: 1rem;
  margin-bottom: 15px;
  opacity: 0;
  animation: visible 0.5s;
  animation-delay: 1.1s;
  animation-fill-mode: both;
}
.menu__desserts .menu__descriptif-d1 .menu__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  overflow: hidden;
}
.menu__desserts .menu__descriptif-d1 .menu__detail h4, .menu__desserts .menu__descriptif-d1 .menu__detail p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__desserts .menu__descriptif-d1 .menu__detail h4 {
  padding-bottom: 5px;
}
.menu__desserts .menu__descriptif-d1 .menu__prix {
  display: flex;
  align-items: end;
  padding: 0 15px 7px 5px;
}
.menu__desserts .menu__descriptif-d1 .menu__valider {
  display: none;
}
.menu__desserts .menu__descriptif-d1:hover .menu__valider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  height: 60px;
}
.menu__desserts .menu__descriptif-d1:hover .menu__valider i {
  animation: valider 0.4s ease-in-out;
}
.menu__desserts .menu__descriptif-d2 {
  display: flex;
  background-color: white;
  box-shadow: 5px 5px 5px #e7e7e7;
  border-radius: 10px;
  white-space: nowrap;
  height: 60px;
  padding-left: 1rem;
  margin-bottom: 15px;
  opacity: 0;
  animation: visible 0.5s;
  animation-delay: 1.2s;
  animation-fill-mode: both;
}
.menu__desserts .menu__descriptif-d2 .menu__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  overflow: hidden;
}
.menu__desserts .menu__descriptif-d2 .menu__detail h4, .menu__desserts .menu__descriptif-d2 .menu__detail p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__desserts .menu__descriptif-d2 .menu__detail h4 {
  padding-bottom: 5px;
}
.menu__desserts .menu__descriptif-d2 .menu__prix {
  display: flex;
  align-items: end;
  padding: 0 15px 7px 5px;
}
.menu__desserts .menu__descriptif-d2 .menu__valider {
  display: none;
}
.menu__desserts .menu__descriptif-d2:hover .menu__valider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  height: 60px;
}
.menu__desserts .menu__descriptif-d2:hover .menu__valider i {
  animation: valider 0.4s ease-in-out;
}
.menu__desserts .menu__descriptif-d3 {
  display: flex;
  background-color: white;
  box-shadow: 5px 5px 5px #e7e7e7;
  border-radius: 10px;
  white-space: nowrap;
  height: 60px;
  padding-left: 1rem;
  margin-bottom: 15px;
  opacity: 0;
  animation: visible 0.5s;
  animation-delay: 1.3s;
  animation-fill-mode: both;
}
.menu__desserts .menu__descriptif-d3 .menu__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  overflow: hidden;
}
.menu__desserts .menu__descriptif-d3 .menu__detail h4, .menu__desserts .menu__descriptif-d3 .menu__detail p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__desserts .menu__descriptif-d3 .menu__detail h4 {
  padding-bottom: 5px;
}
.menu__desserts .menu__descriptif-d3 .menu__prix {
  display: flex;
  align-items: end;
  padding: 0 15px 7px 5px;
}
.menu__desserts .menu__descriptif-d3 .menu__valider {
  display: none;
}
.menu__desserts .menu__descriptif-d3:hover .menu__valider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  height: 60px;
}
.menu__desserts .menu__descriptif-d3:hover .menu__valider i {
  animation: valider 0.4s ease-in-out;
}

@media (min-width: 1000px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu__entrees, .menu__plats, .menu__desserts {
    width: 32%;
  }
}
.commander {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 10px 0 50px 0;
}
.commander__valider {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  box-shadow: 5px 5px 5px #c6c6c6;
  color: white;
  border-radius: 20px;
  padding: 0.7rem 1.5rem;
}
.commander__valider:hover {
  opacity: 0.6;
}

.footer {
  background-color: #353535;
}
.footer__logo {
  filter: invert(100%);
  object-fit: contain;
  height: 15px;
  padding: 20px 5% 0 5%;
}
.footer__liste {
  padding: 10px 5% 10px 5%;
}
.footer__liste ul {
  padding: 0;
}
.footer__liste li {
  padding-bottom: 10px;
}
.footer__liste a {
  color: white;
}
.footer__liste i {
  padding-right: 10px;
  font-size: 0.8rem;
  width: 0.8rem;
}

@media (min-width: 1000px) {
  .footer__liste ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
