/* Police Logo */
@font-face {
  font-family: "shrikhandregular";
  src: url("../police/shrikland/shrikhand-regular-webfont.eot");
  src: url("../police/shrikland/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../police/shrikland/shrikhand-regular-webfont.woff") format("woff"), url("../police/shrikland/shrikhand-regular-webfont.ttf") format("truetype"), url("../police/shrikland/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Police Texte */
@font-face {
  font-family: "roboto_condensedregular";
  src: url("../police/roboto/robotocondensed-regular-webfont.eot");
  src: url("../police/roboto/robotocondensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../police/roboto/robotocondensed-regular-webfont.woff") format("woff"), url("../police/roboto/robotocondensed-regular-webfont.ttf") format("truetype"), url("../police/roboto/robotocondensed-regular-webfont.svg#roboto_condensedregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: "shrikhandregular", serif;
  font-size: 2rem;
  font-weight: 900;
  margin: 0;
}

h2 {
  font-family: "roboto_condensedregular";
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-family: "roboto_condensedregular";
  font-size: 1.1rem;
  font-weight: 100;
  color: grey;
  margin: 0;
}

h4 {
  font-family: "roboto_condensedregular";
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

p {
  font-family: "roboto_condensedregular";
  font-size: 0.8rem;
  margin: 0;
}

footer {
  font-family: "roboto_condensedregular";
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  border-bottom: 4px solid lightgrey;
  padding: 15px 0 10px 0;
}
.header__accueil {
  display: flex;
  align-items: center;
  color: black;
}
.header__logo {
  display: flex;
  justify-content: center;
  object-fit: contain;
  width: 100%;
}

.explorer__restaurants, .commander__valider {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ff46cc, #782cd3);
  color: white;
  border-radius: 20px;
  padding: 0.7rem 1rem;
}
.explorer__restaurants:hover, .commander__valider:hover {
  opacity: 0.6;
}

.note {
  display: flex;
  align-self: center;
}
.note:hover {
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
}
.note:hover .note__plein {
  display: inline;
  mix-blend-mode: lighten;
}
.note:hover .note__plein.rt {
  background-color: white;
}
.note:hover .note__plein.bd {
  background-color: #e6e6e6;
}
.note:hover .note__vide {
  display: none;
}
.note__plein {
  display: none;
}

.lieu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #cccccc;
  padding: 10px 0 10px 0;
}

.fas.fa-map-marker-alt {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #e6e6e6;
  padding: 25px 0 50px 0;
}
.explorer h2 {
  margin: 0 15% 5px 15%;
}
.explorer h3 {
  margin: 0 7% 20px 7%;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  margin: 8% 5% 5% 5%;
}
.fonctionnement h2 {
  padding-bottom: 5%;
}
.fonctionnement__liste ul {
  padding-left: 0;
}
.fonctionnement__detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 5%;
}
.fonctionnement__detail .fonctionnement__numero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #782cd3;
  color: white;
  border-radius: 20px;
  height: 1.3rem;
  width: 1.3rem;
  position: relative;
  margin-right: -0.7rem;
}
.fonctionnement__detail .fonctionnement__text {
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
  border-radius: 20px;
  height: 4rem;
  width: 100%;
}
.fonctionnement__detail .fonctionnement__text i, .fonctionnement__detail .fonctionnement__text p {
  margin-left: 1.7rem;
}
.fonctionnement__detail .fonctionnement__text:hover {
  background-color: #ffdff6;
}
.fonctionnement__detail .fonctionnement__text:hover i {
  color: #782cd3;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  background-color: #e6e6e6;
}
.restaurants__titre {
  margin: 0 5% 5% 5%;
}
.restaurants__liste {
  margin: 0 5% 5% 5%;
}
.restaurants .resto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 5%;
  height: 220px;
}
.restaurants .resto__image {
  object-fit: cover;
  height: 150px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants .resto__descriptif {
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 15px;
  width: 85%;
}
.restaurants .resto__note-vide, .restaurants .resto__note-plein {
  display: flex;
  align-items: center;
}
.restaurants .resto__note-vide :hover {
  display: none;
}
.restaurants .resto__note-plein :hover {
  display: flex;
  align-items: center;
  color: #FF79DA;
}

.bandeau {
  display: flex;
  flex-direction: column;
}
.bandeau__image img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.bandeau__titre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #e6e6e6;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;
  height: 100px;
  margin-top: -30px;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6;
  padding: 0 5% 0 5%;
}
.menu__epd, .menu__titre {
  padding-bottom: 3%;
}
.menu__descriptif {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  height: 60px;
  padding-left: 5%;
  margin-bottom: 4%;
}
.menu__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
.menu__detail h4 {
  padding-bottom: 5px;
}
.menu__detail h4 p {
  overflow: hidden;
  height: 1.1rem;
}
.menu__prix {
  display: flex;
  align-self: end;
  width: 15%;
  padding-bottom: 8px;
}
.menu__valider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 15%;
  height: 60px;
}

.commander {
  display: flex;
  justify-content: center;
  background-color: #e6e6e6;
  padding: 10px 0 50px 0;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
}
.footer__logo {
  display: flex;
  justify-content: flex-start;
  filter: invert(100%);
  object-fit: contain;
  height: 20px;
  padding: 20px 5% 0 5%;
}
.footer__liste {
  padding: 10px 5% 10px 5%;
}
.footer__liste ul {
  padding: 0;
}
.footer__liste li {
  padding-bottom: 10px;
}
.footer__liste a {
  color: white;
}
.footer__liste i {
  padding-right: 10px;
}

/*# sourceMappingURL=style.css.map */
