.footer{
    background-color: $couleur-inverser-fond;
    &__logo{
        filter: invert(100%);
        object-fit: contain;
        height: 15px;
        padding: 20px 5% 0 5%;
    }

    &__liste {
        padding: 10px 5% 10px 5%;
    }

    &__liste ul{
        padding: 0;
    }

    &__liste li{
        padding-bottom: 10px;
    }

    &__liste a{
        color: $couleur-inverser-text;        
    }

    &__liste i{
        padding-right: 10px; 
        font-size: 0.8rem;
        width: 0.8rem;  
    }
}

@media (min-width: 1000px) {
    .footer{
        &__liste ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}