.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    @include spinner-couverts;

    &__couverts {
        & .couverts__primaire{
            @include couverts-mouvement($couleur-primaire)
        }
    
        & .couverts__secondaire{
            @include couverts-mouvement($couleur-secondaire)
        }
    
        & .couverts__tertiaire{
            @include couverts-mouvement($couleur-tertiaire)
        }
    }
}