.fonctionnement{
    display: flex;
    flex-direction: column;
    margin: 8% 5% 5% 5%;
    >h2{
        padding: 0 15% 5% 15%;
    }

    &__liste ul {
        padding-left: 0;
    }

    &__detail {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 5%;
    }

    &__numero {
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: $couleur-primaire;
        color: $couleur-inverser-text;
        border-radius: 20px;
        height: 1.1rem;
        width: 1.1rem;
        position: relative;
        margin-right: -0.7rem;
    }

    &__text {
        display:flex;
        align-items: center;
        background-color: $couleur-explorer;
        border-radius: 20px;
        height: 4rem;
        width: 100%;
        > i, p {
            margin-left: 1.7rem;
        }
    }
}