.menu {
    display: flex;
    flex-direction: column;
    background-color: $couleur-fond-autres;
    padding: 0 5% 0 5%;
    &__entrees {
        padding-bottom: 20px;
        & .menu__titre{
            @include menu-titre;
            @include menu-deroulant(0.1s);
        }

        @for $numero from 1 through 4 {
            & .menu__descriptif-e#{$numero} {
                @include entrees-plats-desserts;
                @include menu-deroulant(($numero * 0.1s) + 0.1s);
            }
        }
    }
    
    &__plats {
        padding-bottom: 20px;
        & .menu__titre{
            @include menu-titre;
            @include menu-deroulant(0.6s);
        }

        @for $numero from 1 through 3 {
            & .menu__descriptif-p#{$numero} {
                @include entrees-plats-desserts;
                @include menu-deroulant(($numero * 0.1s) + 0.6s);
            }
        }
    }

    &__desserts {
        padding-bottom: 20px;
        & .menu__titre{
            @include menu-titre;
            @include menu-deroulant(1s);
        }

        @for $numero from 1 through 3 {
            & .menu__descriptif-d#{$numero} {
                @include entrees-plats-desserts;
                @include menu-deroulant(($numero * 0.1s) + 1s);
            }
        }
    }
}

@media (min-width: 1000px) {
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__entrees, &__plats, &__desserts {
            width: 32%;
        }
    }
}

@media (min-width: 1400px) {
    .menu{
        max-width: 1400px;
        margin: auto;
        padding: 0;
        &__entrees {
            margin: 0 10px 0 70px;
        }

        &__plats {
            margin: 0 10px;
        }

        &__desserts {
            margin: 0 70px 0 10px;
        }
    }
}