.menu {
    display: flex;
    flex-direction: column;
    background-color: $couleur-fond-autres;
    padding: 0 5% 0 5%;
    &__epd, &__titre {
         padding-bottom: 3%;
    }

    &__descriptif {
        display: flex;
        flex-direction: row;
        background-color: $couleur-inverser-text;
        border-radius: 10px;
        white-space: nowrap;
        height: 60px;
        padding-left: 5%;
        margin-bottom: 4%;
        
        & .menu__detail {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            overflow: hidden;
            h4, p {
                overflow: hidden;
                text-overflow: ellipsis;
            }
            h4 {
                padding-bottom: 5px;
            }
        }

        & .menu__prix {
            display: flex;
            align-items: end;
            padding: 0 15px 7px 5px;
        }

        & .menu__valider{
           display: none;
        }

        &:hover .menu__valider {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $couleur-tertiare;
            color: $couleur-inverser-text;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            width: 50px;
            height: 60px;
        }

        &:hover .menu__valider i{
            @include bouton-valider;
        }
    }
}