.note {
    display: flex;
    align-self: center;
    &:hover {
        background-image: linear-gradient(0deg,#9356dc,#ff79da);
        @include bouton-coeur;
        & .note__plein {
            display: inline;
            mix-blend-mode: lighten;
            &.rnp {
                background-color: $couleur-fond;
                }
            &.bnp {
                background-color: $couleur-fond-autres;
            }
        }
        
        & .note__vide {
            display: none;
        }
    }

    &__plein {
        display: none;        
    }
}