.restaurants{
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    background-color: $couleur-fond-autres;
    &__titre {
        margin: 0 5% 5% 5%;
    }

    &__liste {
        margin: 0 5% 5% 5%;
    }

    .resto {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 20px;
        background-color: $couleur-fond;
        margin-bottom: 5%;
        height: 220px;
        
        &__image {
            object-fit: cover;
            height: 150px;
            width: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        &__nouveau {
            background-color: $couleur-tertiaire;
            color: darken($couleur-tertiaire, 50%);
            position: relative;
            height: 24px;
            margin: -140px 0 116px 75%;   
            p {
                padding: 3px 10px;
            }
        }

        &__descriptif {
            display: flex;
            flex-direction: column;
            padding: 10px 0 10px 15px;
            width: 85%;
        }
    }
}