.restaurants{
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    background-color: $couleur-fond-autres;
    &__titre {
        margin: 0 5% 20px 5%;
    }

    &__liste {
        margin: 0 5% 15px 5%;
        & .resto {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            border-radius: 10px;
            background-color: $couleur-fond;
            box-shadow: 5px 5px 5px $couleur-ombre-autres;
            margin-bottom: 5%;
            height: 220px;
            
            &__image {
                display: flex;
                flex-direction: column;
                position:relative;
                height: 150px;
                width: 100%;
                & .resto__photo {
                    object-fit: cover;
                    height: 150px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
        
                & .resto__nouveau {
                    background-color: $couleur-tertiaire;
                    color: darken($couleur-tertiaire, 50%);
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    text-align: center;
                    padding: 0.2rem 0.5rem;
                }
            }
    
            &__descriptif {
                display: flex;
                flex-direction: column;
                padding: 10px 0 10px 15px;
                width: calc(90% - 25px);
            }
    
            &__note {
                @include note-coeur ($couleur-fond);
            }
        }
    }
}


@media (min-width: 1000px) {
    .restaurants{
        margin: auto;
        max-width: 1400px;
        &__titre {
            text-align: center;
        }

        &__liste {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            & .resto {
                width: 23%;
            }
        }
    }
}