h1 {
    font-family: 'shrikhandregular', serif;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-family: 'roboto_condensedregular';
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
}

h3 {
    font-family: 'roboto_condensedregular';
    font-size: 1.2rem;
    font-weight: 100;
    color: grey;
    margin: 0;
}

h4 {
    font-family: 'roboto_condensedregular';
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
}

h5 {
    font-family: 'roboto_condensedregular';
    font-size: 1rem;
    margin: 0;
}

h6 {
    font-family: 'roboto_condensedregular';
    font-size: 0.9rem;
    margin: 0;
}

p {
    font-family: 'roboto_condensedregular';
    font-size: 0.9rem;
    color: grey;
    margin: 0;
}

footer{
    font-family: 'roboto_condensedregular';
    font-size: 0.9rem;
    margin: 0;
}