/* Spinner */
@mixin spinner-couverts {
    background-color: hsla(0,0%,100%,0.9);
    z-index: 1;
    animation: temps 0.5s; 
    animation-delay: 3s;
    animation-fill-mode: both;

    @keyframes temps {
        100% {opacity: 0;z-index: -1;}
    }
}

/* Couverts */
@mixin couverts-mouvement ($couleur-couverts) {
    animation : 1s linear 3 mouvements;
    color: $couleur-couverts;
    font-size: 30px;
    margin-right: 10px;
}

@keyframes mouvements {
    0% {transform: rotate(0deg)};
    25% {transform: rotate(90deg)};
    50% {transform: rotate(0deg)};
    75% {transform: rotate(-90deg)};
    100% {transform: rotate(0deg)};
}

/* Bouton coeur */
@keyframes coeur {
    0% {width: 0};
    50% {width: 8px};
    100% {width: 16px};
}

@mixin bouton-coeur {
    animation : coeur 0.4s linear
}

/* Menu déroulant des Entrées, Plats, Déserts */
@keyframes visible {
    100% {opacity: 1; z-index: -1;}
}

@mixin menu-deroulant ($delais){
    opacity: 0;
    animation: visible 0.5s;
    animation-delay: $delais;
    animation-fill-mode: both;
}

/* ouverture de la validation des Entrées, Plats, Déserts */
@keyframes ouverture {
    0% {width: 0};
    25% {width: 15px};
    50% {width: 30px};
    75% {width: 45px};
    100% {width: 60px};
}

@mixin ouverture-valideur {
    animation : ouverture 0.3s linear
}

/* Validation des Entrées, Plats, Déserts */
@keyframes valider {
    0% {transform: rotate(180deg)};
    50% {transform: rotate(270deg)};
    100% {transform: rotate(360deg)};
}

@mixin bouton-valider {
    animation : valider 0.3s ease-in-out
}