@mixin entrees-plats-desserts{
    display: flex;
    background-color: $couleur-inverser-text;
    box-shadow: 5px 5px 5px $couleur-ombre-autres;
    border-radius: 10px;
    white-space: nowrap;
    height: 60px;
    padding-left: 1rem;
    margin-bottom: 15px;
    cursor: pointer;
        
    & .menu__detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
        overflow: hidden;
        h4, p {
            overflow: hidden;
            text-overflow: ellipsis;
        }
        h4 {
            padding-bottom: 5px;
        }
    }

    & .menu__prix {
        padding: 30px 15px 7px 5px;
    }

    & .menu__valider{
        display: none;
    }

    &:hover .menu__valider {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $couleur-tertiaire;
        color: $couleur-inverser-text;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 60px;
        height: 60px;
        @include ouverture-valideur;
    }

    &:hover .menu__valider i{
        @include bouton-valider;
    }
}