@mixin note-coeur ($couleur-fond-coeur) {
    display: flex;
    align-self: center;
    height: 16px;
    font-size: 1.3rem;
    &:hover {
        background-image: linear-gradient(to left bottom,$couleur-primaire,$couleur-secondaire);
        @include bouton-coeur;
        & .note__plein {
            display: inline;
            mix-blend-mode: lighten;
            background-color: $couleur-fond-coeur;
        }
        
        & .note__vide {
            display: none;
        }
    }

    & .note__plein {
        display: none;        
    }
}