@media (min-width: 1000px) {
    body{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
        max-width: 1400px;
    }
}

a{
    color: $couleur-text;
    text-decoration: none;
}

li{
    list-style: none;
}