$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiare: #99E2D0;
$couleur-header-border: lightgrey;
$couleur-fond: white;
$couleur-fond-lieu: lighten(black,80%);
$couleur-fond-autres: lighten(black,90%);
$couleur-text:black;
$couleur-inverser-fond: black;
$couleur-inverser-text: white;