$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-fond: white;
$couleur-fond-lieu: #eaeaea;
$couleur-fond-autres: #f6f6f6;
$couleur-fond-autres-hover: #f5edff;
$couleur-border-lieu: #cfcfcf;
$couleur-icone-fonctionnement: #7e7e7e;
$couleur-ombre-bouton: #c6c6c6;
$couleur-ombre-autres: #e7e7e7;
$couleur-text:black;
$couleur-inverser-fond: #353535;
$couleur-inverser-text: white;